.author {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.author__photo {
  grid-area: 1 / 1 / span 2 / span 1;
  align-self: center;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid transparent;
}

.author__name {
  font-weight: 500;
  color: var(--color-middle);
}

.author__status {
  font-size: 0.85em;
  color: var(--color-middle);
}