.layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px 30px;
  padding: 71px 24px 50px;

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 60px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1310px;
    margin: 0 auto;
    padding: 164px 100px;
  }
}