@charset "UTF-8";
:root {
  --color-light-grayish-cyan: hsl(180, 52%, 96%);
  --color-grayish-cyan: hsl(180, 31%, 95%);
  --color-dark-grayish-cyan: hsl(180, 8%, 52%);
  --color-very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --color-dark-cyan: hsl(180, 29%, 50%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
  font-size: 62.5%;
  background-color: var(--color-light-grayish-cyan);
}

body {
  position: relative;
  min-width: 375px;
  min-height: 100%;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark-cyan);
  border: 1px solid transparent;
}
body::before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 15.5rem;
  background: var(--color-dark-cyan) url("/images/bg-header-mobile.svg") center/cover no-repeat;
}
@media (min-width: 576px) {
  body::before {
    background-image: url("/images/bg-header-desktop.svg");
  }
}
@media (min-width: 900px) {
  body {
    font-size: 1.8rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 4px;
}

.container {
  padding-inline: max(6.4vw, 50% - 555px);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
  margin-top: 12rem;
  margin-bottom: -16rem;
  min-height: 7.5rem;
  padding: 2rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 0.5rem 2.5rem -1rem var(--color-dark-cyan);
}
.filter[hidden] {
  display: none;
}
@media (min-width: 576px) {
  .filter {
    margin-bottom: -19.7rem;
    padding-inline: 4rem;
  }
}

.filter-item {
  display: inline-flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.25px;
  color: var(--color-dark-cyan);
  background-color: var(--color-light-grayish-cyan);
  border-radius: 4px;
}
.filter-item img {
  width: 3.2rem;
  aspect-ratio: 1;
  margin-left: 1rem;
  padding: 10px;
  background-color: var(--color-dark-cyan);
}
@media (hover: hover) {
  .filter-item img:hover {
    cursor: pointer;
    background-color: var(--color-very-dark-grayish-cyan);
  }
}
@media (min-width: 900px) {
  .filter-item {
    font-size: 1.6rem;
  }
}

.clear-all-filter {
  order: 1;
  margin: 0;
  margin-left: auto;
  padding: 0.5em 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-dark-grayish-cyan);
  background-color: transparent;
  border: 0;
  outline: 0;
}
@media (hover: hover) {
  .clear-all-filter:hover {
    cursor: pointer;
    color: var(--color-dark-cyan);
    text-decoration: underline;
  }
}

.list {
  margin-top: 21rem;
}
@media (min-width: 576px) {
  .list {
    margin-top: 23.5rem;
  }
}

.item {
  display: grid;
  gap: 1.6rem;
  margin-bottom: 4rem;
  padding: 2.4rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 0.5rem 2.5rem -1rem var(--color-dark-cyan);
}
.item[hidden] {
  display: none;
}
@media (min-width: 576px) {
  .item {
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 900px) {
  .item {
    padding: 3.2rem 3.8rem;
    grid-template-columns: max-content max-content 1fr;
    grid-template-areas: "logo header tags" "logo title tags" "logo info tags";
    gap: 0.5rem 2rem;
    align-items: center;
  }
}

.item--featured {
  border-left: 5px solid var(--color-dark-cyan);
}

.logo {
  width: 5rem;
  margin-top: -5rem;
  aspect-ratio: 1;
}
@media (min-width: 576px) {
  .logo {
    margin-top: 0;
    width: 9rem;
  }
}
@media (min-width: 900px) {
  .logo {
    grid-area: logo;
  }
}

@media (min-width: 900px) {
  .header {
    grid-area: header;
  }
}

.company {
  margin-right: 1rem;
  font-weight: 700;
}

.sign {
  display: inline-block;
  margin-right: 5px;
  padding: 0.5em 0.75em;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: white;
  background-color: var(--color-dark-cyan);
  border-radius: 16px;
}

.sign--dark {
  background-color: var(--color-very-dark-grayish-cyan);
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-very-dark-grayish-cyan);
}
@media (hover: hover) {
  .title:hover {
    cursor: pointer;
    color: var(--color-dark-cyan);
  }
}
@media (hover: hover) and (min-width: 900px) {
  .title {
    grid-area: title;
    font-size: 2.2rem;
  }
}

.info {
  color: var(--color-dark-grayish-cyan);
}
.info span:not(:first-of-type) {
  position: relative;
  padding-left: 2rem;
}
.info span:not(:first-of-type)::before {
  content: "•";
  position: absolute;
  left: 0;
}
.info span:not(:last-of-type) {
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .info {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-dark-grayish-cyan);
  }
}
@media (min-width: 900px) {
  .info {
    grid-area: info;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
@media (min-width: 900px) {
  .tags {
    grid-area: tags;
    justify-self: end;
    justify-content: end;
  }
}

.tag {
  padding: 0.5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.25px;
  color: var(--color-dark-cyan);
  background-color: var(--color-light-grayish-cyan);
}
@media (hover: hover) {
  .tag:hover {
    cursor: pointer;
    color: var(--color-light-grayish-cyan);
    background-color: var(--color-dark-cyan);
  }
}
@media (min-width: 900px) {
  .tag {
    font-size: 1.6rem;
  }
}

.attribution {
  width: 100%;
  margin-block: 8rem 4rem;
  text-align: center;
}
.attribution a {
  color: var(--color-very-dark-grayish-cyan);
}/*# sourceMappingURL=style.css.map */