.tag {
  padding: 0.5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.25px;
  color: var(--color-dark-cyan);
  background-color: var(--color-light-grayish-cyan);

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      color: var(--color-light-grayish-cyan);
      background-color: var(--color-dark-cyan);
    }
  }

  @media (min-width: $width-desktop) {
    font-size: 1.6rem;
  }
}