:root {
  --color-gray: hsl(233, 8%, 62%);
  --color-dark-gray: hsl(233, 26%, 24%);
  --color-green: hsl(136, 65%, 51%);
  --color-cyan: hsl(192, 70%, 51%);
  --color-bg: hsl(220, 14%, 96%);
  --color-bg-light: hsl(0, 0%, 98%);
  -color: #2D314D;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 375px;
  width: 100%;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.25px;
  color: var(--color-gray);
  background: var(--color-bg-light) url("../images/bg-intro-mobile.svg") top right/100% no-repeat;
}

@media (min-width: 576px) {
  body {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: top 80px right;
    background-size: contain;
  }
}

@media (min-width: 768px) {
  body {
    background-size: auto 575px;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: auto 660px;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 165px;
  height: 45px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.25px;
  color: white;
  background: var(--color-cyan) -webkit-gradient(linear, left top, right top, from(var(--color-green)), color-stop(var(--color-cyan)), to(var(--color-green)));
  background: var(--color-cyan) -webkit-linear-gradient(left, var(--color-green), var(--color-cyan), var(--color-green));
  background: var(--color-cyan) -o-linear-gradient(left, var(--color-green), var(--color-cyan), var(--color-green));
  background: var(--color-cyan) linear-gradient(90deg, var(--color-green), var(--color-cyan), var(--color-green));
  background-size: 400% 400%;
  border: none;
  border-radius: 25px;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
    -webkit-filter: saturate(125%);
            filter: saturate(125%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: calc(50% - 555.5px);
    padding-right: calc(50% - 555.5px);
  }
}

.header {
  position: absolute;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
}

@media (min-width: 576px) {
  .header {
    height: 80px;
  }
}

.header__logo {
  position: relative;
  z-index: 100;
  color: var(--color-dark-gray);
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .toggle-label {
    position: relative;
    z-index: 100;
    display: block;
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='11'%3E%3Cg fill='%232D314D' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v1H0zM0 5h24v1H0zM0 10h24v1H0z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
  }
}

.toggle:checked ~ .menu {
  position: absolute;
  display: block;
  width: 100%;
}

.toggle:checked ~ .toggle-label {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19'%3E%3Cg fill='%232D314D' fill-rule='evenodd'%3E%3Cpath d='M.868.661l16.97 16.97-.706.708L.162 1.369z'/%3E%3Cpath d='M.161 17.632L17.131.662l.708.706-16.97 16.97z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    z-index: 100;
    display: block;
    height: 80px;
  }
}

@media (min-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(top, white, white 65px, var(--color-dark-gray) 65px, transparent);
    background: -o-linear-gradient(top, white, white 65px, var(--color-dark-gray) 65px, transparent);
    background: linear-gradient(to bottom, white, white 65px, var(--color-dark-gray) 65px, transparent);
  }
}

.menu__list {
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 24px));
      -ms-transform: translateX(calc(-50% - 24px));
          transform: translateX(calc(-50% - 24px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  width: calc(100% - 48px);
  margin: 0;
  padding: 35px;
  list-style: none;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .menu__list {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 32px;
    width: auto;
    height: 100%;
    padding: 0;
    background-color: transparent;
  }
}

.menu__link {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-dark-gray);
}

@media (min-width: 768px) {
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding-top: 4px;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: var(--color-gray);
    border-bottom: 4px solid transparent;
    -webkit-transition: -webkit-border-image 0.25s linear;
    transition: -webkit-border-image 0.25s linear;
    -o-transition: -o-border-image 0.25s linear;
    transition: border-image 0.25s linear;
    transition: border-image 0.25s linear, -webkit-border-image 0.25s linear, -o-border-image 0.25s linear;
  }
}

@media (hover: hover) {
  .menu__link:hover {
    cursor: pointer;
    color: var(--color-dark-gray);
    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(var(--color-green)), to(var(--color-cyan))) 30%;
    -webkit-border-image: -webkit-linear-gradient(left, var(--color-green), var(--color-cyan)) 30%;
         -o-border-image: -o-linear-gradient(left, var(--color-green), var(--color-cyan)) 30%;
            border-image: -webkit-gradient(linear, left top, right top, from(var(--color-green)), to(var(--color-cyan))) 30%;
            border-image: linear-gradient(to right, var(--color-green), var(--color-cyan)) 30%;
  }
}

@media (max-width: 992px) {
  .header__button {
    display: none;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px 30px;
  padding-top: 65px;
  padding-bottom: 90px;
  overflow-x: clip;
  overflow-y: visible;
}

@media (min-width: 992px) {
  .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 660px;
    padding-top: 80px;
    padding-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .intro {
    -webkit-column-gap: 12.5%;
            column-gap: 12.5%;
    min-height: 740px;
  }
}

.intro__content {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .intro__content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .intro__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-right: 0;
    margin: auto 0 50px;
  }
}

@media (min-width: 1440px) {
  .intro__content {
    max-width: 450px;
    margin: auto 0 auto calc(49.5vw - 555px);
    padding: 0;
  }
}

.intro__image {
  max-width: 92%;
  margin-top: -120px;
}

@media (min-width: 992px) {
  .intro__image {
    max-width: 60%;
    margin-bottom: -195px;
  }
}

@media (min-width: 1440px) {
  .intro__image {
    max-width: 55%;
    margin-top: -160px;
    margin-right: -8.5%;
  }
}

.intro__title {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  color: var(--color-dark-gray);
}

@media (min-width: 1440px) {
  .intro__title {
    font-size: 54px;
  }
}

.intro__text {
  margin: 1em 0 2em;
  line-height: 1.65;
}

@media (min-width: 1440px) {
  .intro__text {
    margin-top: 26px;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 28px;
  }
}

.intro__button {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .intro__button {
    margin: 0;
  }
}

.benefits {
  padding-top: 64px;
  padding-bottom: 62px;
  text-align: center;
  background-color: var(--color-bg);
}

@media (min-width: 992px) {
  .benefits {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 18px;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 300;
  color: var(--color-dark-gray);
}

@media (min-width: 1440px) {
  .benefits__title {
    margin-bottom: 24px;
    font-size: 40px;
    letter-spacing: -0.6px;
  }
}

.benefits__lead {
  margin: 0;
  margin-bottom: 56px;
  line-height: 1.65;
}

@media (min-width: 992px) {
  .benefits__lead {
    max-width: 625px;
    margin-bottom: 72px;
  }
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .benefits__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .benefits__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.benefits__item {
  max-width: 400px;
  margin: 0 auto;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.item__title {
  margin: 28px 0 20px;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-dark-gray);
}

@media (min-width: 1440px) {
  .item__title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.item__text {
  margin: 0;
  line-height: 1.65;
}

@media (min-width: 1440px) {
  .item__text {
    font-size: 16px;
  }
}

.news {
  padding-top: 92px;
  padding-bottom: 62px;
}

@media (min-width: 1440px) {
  .news {
    padding-bottom: 40px;
  }
}

.news__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: var(--color-dark-gray);
}

@media (min-width: 1440px) {
  .news__title {
    margin-bottom: 46px;
    font-size: 40px;
    letter-spacing: -0.6px;
    text-align: left;
  }
}

.news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  overflow: hidden;
  border-radius: 7px;
}

@media (hover: hover) {
  .news__item:hover {
    cursor: pointer;
    outline: 1px solid var(--color-bg);
  }
  .news__item:hover .article__title {
    color: var(--color-green);
  }
  .news__item:hover .article__image {
    -webkit-transform: scale(110%);
        -ms-transform: scale(110%);
            transform: scale(110%);
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  height: 100%;
  padding: 45px 30px;
  background-color: white;
}

@media (min-width: 1440px) {
  .article {
    padding: 45px 24px;
  }
}

.article__title {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-dark-gray);
  -webkit-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.article__author {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;
  font-size: 10px;
}

.article__text {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

.article__image-wrapper {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  width: calc(100% + 60px);
  margin: -45px -30px 14px;
  overflow: hidden;
}

.article__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  padding-top: 40px;
  padding-bottom: 45px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: var(--color-dark-gray);
}

@media (min-width: 992px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding-top: 48px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer__logo {
  color: inherit;
  color: white;
}

@media (min-width: 992px) {
  .footer__logo {
    place-self: start;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (min-width: 992px) {
  .social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column-align: start;
        justify-self: start;
    margin: 0;
  }
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: white;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

@media (min-width: 1440px) {
  .social__link {
    width: 20px;
    height: 20px;
  }
}

@media (hover: hover) {
  .social__link:hover {
    cursor: pointer;
    background-color: var(--color-green);
  }
}

.social__link-fb {
  -webkit-mask-image: url("../images/icon-facebook.svg");
          mask-image: url("../images/icon-facebook.svg");
}

.social__link-youtube {
  -webkit-mask-image: url("../images/icon-youtube.svg");
          mask-image: url("../images/icon-youtube.svg");
}

.social__link-tw {
  -webkit-mask-image: url("../images/icon-twitter.svg");
          mask-image: url("../images/icon-twitter.svg");
}

.social__link-pint {
  -webkit-mask-image: url("../images/icon-pinterest.svg");
          mask-image: url("../images/icon-pinterest.svg");
}

.social__link-inst {
  -webkit-mask-image: url("../images/icon-instagram.svg");
          mask-image: url("../images/icon-instagram.svg");
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .nav {
    width: 288px;
    height: 90px;
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: space-between;
  }
}

@media (min-width: 992px) {
  .nav {
    grid-row: span 2;
  }
}

@media (min-width: 1440px) {
  .nav {
    grid-column: span 2;
  }
}

.nav__link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--color-bg);
  text-decoration: none;
}

@media (hover: hover) {
  .nav__link:hover {
    cursor: pointer;
    color: var(--color-green);
  }
}

@media (min-width: 992px) {
  .footer__button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.copyright {
  margin: 0;
  font-size: 15px;
  color: var(--color-gray);
}

@media (min-width: 992px) {
  .copyright {
    grid-column: -2 / -1;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */